#discoverBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    z-index: -1;
  }
  