:root{
    --bg-color:#F8F8FD;
    --blue:#4640DE;
    --white: #FFFFFF;
    --light-blue: #26A4FF;
    --gray: #515B6F;
    --black:#202430;
    --orange:#FFB836;
    --green:#56CDAD;
    --light1-blue:#4540de18;
    --custom-pink:rgba(255, 192, 203, 0.5);
}
*{
    padding: 0;
    margin: 0;
}
#root{
    width: 100%;
    overflow: hidden;
}
#BrowseCompaniesMainSectionPage{
    background-color: var(--white);
}
#logotext{
    font-weight: bold;
    color:black;
  }
  #anchor{
    color: black;
    text-transform: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #firstfooterid{
    height: 20px;
  
  }
  #firstHeader{
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  #imfooter{
    height: 20px;
  }
  #liensFooter{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(203, 215, 225);
    
  }
  #footerDescription{
    font-size:12px;
  }
  #copyright{
    font-size:small;
  }
  #icon{
    height: 10px;
    color: var(--white);
  }
  #sectionDescription{
    font-size:12px;
    color: rgb(133, 179, 179);
    margin-left: 65px;
  }
  #sectionDescription1{
    font-size:14px;
    color: rgb(145, 175, 175);
    margin-left: 60px;
  }
  #searchBox{
    width:50%;
    
  }
  #searchBox1{
    width:80%;
    
  }
  #discoverImg{
    width: 500px;
    height: 200px;
    margin-left: 59px;
  }
  #discoverBox::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background-color: var(--bg-color);
    clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
  
    z-index: -2;
  }
  
  #FindYourDreamJobs{
    background-color: rgba(247, 252, 252, 0.829);
    
    
  }
  #dreamjob{
    
    
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 20px;
    
  }
  #DiscoverDesc{
    margin-top: 10px;
    color: rgb(81, 79, 79);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #SearchDesc{
    color: rgb(162, 150, 135);
    font-size:12px;
    margin-left: -290px;
    margin-top: -10px;
  }
  #searchJobsD{
    margin-top: -20px;
  }
  #section_h{
    font-weight: bold;
    
  }
  #section_h1{
    font-weight: bold;
    
    color: #0c89e3;
  }
  /* styles.css */



.cadre {
    width: 400px; /* Largeur du cadre */
    height: 200px; /* Hauteur du cadre */
    border: 2px solid black; /* Bordure de 2px de largeur, solide et noire */
    padding: 20px; /* Marge intérieure de 20px */
    /*border: 2px solid white; /* Bordure de 2px de largeur, solide et blanche */
    
    /*background-color: white; /* Fond blanc */
  }
.point {
    display: inline-block; /* Permet de définir une largeur et une hauteur */
    width: 20px; /* Largeur du point */
    height: 20px; /* Hauteur du point */
    border-radius: 50%; /* Rendre le point circulaire */
    text-align: center; /* Centrer le contenu (le point) horizontalement */
    line-height: 20px; /* Centrer le contenu (le point) verticalement */
  }

  .main-content {
    display: flex;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-section {
  flex: 1;
  padding-right: 20px;
  width: 60%; /* adjust the width to your liking */
}

.right-section {
  flex: 1;
  padding-left: 20px;
  width: 40%; /* adjust the width to your liking */
}

/* Add this to make the columns stack on smaller screens */
@media (max-width: 768px) {
  .left-section, .right-section {
    width: 100%;
  }
}

.arrow-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
}

.cadre2 {
  width: 400px; /* Largeur du cadre */
  height: 200px; /* Hauteur du cadre */
  border: 2px solid white; /* Bordure de 2px de largeur, solide et blanche */
  padding: 20px; /* Marge intérieure de 20px */
  background-color: #f3f3ee; /* Fond blanc */
}

.similar-jobs-container {
  display: flex;
  flex-direction: row;
}

.left-section2 {
  flex: 1; /* take up equal space */
}

.right-section2 {
  flex: 1; /* take up equal space */
}

/* Add this to make the columns stack on smaller screens */
@media (max-width: 768px) {
  .left-section2, .right-section2 {
    width: 100%;
  } 
}
.green-circle {
  width: 100px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  background-color: white;
  
}

.orange-circle {
  width: 100px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  background-color: white;
  color: #FFB836;
  border: 2px solid #FFB836;
  
}

.blue-circle {
  width: 100px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 10px;
  background-color: white;
  color:#4640DE ;
  border: 2px solid #4640DE;
}

.circle-content {
  text-align: center;
}



.green-circle .circle-content {
  color: #56CDAD;
}
.similar-jobs-circles {
  display: flex;
}
.benefits-row {
  display: flex;
  flex-wrap: nowrap;
}

.benefit-card {
  flex: 1;
  margin: 10px;
}

