:root{
    --bg-color:#F8F8FD;
    --blue:#4640DE;
    --white: #FFFFFF;
    --light-blue: #26A4FF;
    --gray: #515B6F;
    --black:#202430;
    --orange:#FFB836;
    --green:#56CDAD;
}
*{
    padding: 0;
    margin: 0;
}
#root{
    width: 100%;
}
#BrowseCompaniesMainSectionPage{
    background-color: var(--white);
}
